# IDE specific files
.idea
# OS specific file
.DS_Store
# logs
BigDataGeneratorSuite/Table_datagen/e-com/logs/
BigDataGeneratorSuite/Table_datagen/e-com-generator/src/logs
# msc-thesis-saft-experiments executable
BigDataGeneratorSuite/Table_datagen/e-com-generator/src/*.jar
# data files
output
gen_data
Spark/PageRank/pagerank/data-PageRank

